<h1><%=h labels('new') + " " + labels('registration') %></h1>

<%= error_messages_for :usuario %>

<% form_for(:usuario, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag labels('create') %>
  </p>
<% end %>

<%= link_to labels('back'), collection_url %>