<h1><%=h labels('changing') + " " + labels('registration') %></h1>

<%= error_messages_for :menu %>

<% form_for(:menu, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f, :button_name => labels('update') } %>
<% end %>

<%= link_to labels('show'), object_url %>
|
<%= link_to labels('back'), collection_url %>